/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

*, *::before, *::after {
  box-sizing: border-box;
}

:where(html) {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

:where(body) {
  margin: 0;
}

:where(main) {
  display: block;
}

:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

:where(hr) {
  height: 0;
  color: inherit;
}

:where(abbr[title]) {
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(code, kbd, samp, pre) {
  font-family: ui-monospace, SFMono-Regular, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

:where(small) {
  font-size: 80%;
}

:where(table) {
  border-color: inherit;
  text-indent: 0;
}

:where(button, input, optgroup, select, textarea) {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

:where(button, select) {
  text-transform: none;
}

:where(button, [type='button'], [type='reset'], [type='submit']) {
  -webkit-appearance: button;
}

:where(button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner) {
  border-style: none;
  padding: 0;
}

:where(button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring,
  [type='submit']:-moz-focusring) {
  outline: 1px dotted ButtonText;
}

:where(fieldset) {
  padding: 0.35em 0.75em 0.625em;
}

:where(legend) {
  padding: 0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  overflow: auto;
}

:where([type='checkbox'], [type='radio']) {
  box-sizing: border-box;
  padding: 0;
}

:where([type='number'])::-webkit-inner-spin-button,
:where([type='number'])::-webkit-outer-spin-button {
  height: auto;
}

:where([type='search']) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

:where([type='search'])::-webkit-search-decoration {
  -webkit-appearance: none;
}

:where(::-webkit-file-upload-button) {
  -webkit-appearance: button;
  font: inherit;
}

:where(summary) {
  display: list-item;
}
